.p-1 {
    padding: 0.25rem !important;
}
.font-normal {
    font-weight: 400;
}
.bg-clip-padding {
    background-clip: padding-box;
}
.border-gray-300 {
    --tw-border-opacity: 1;
    border-color: rgb(209 213 219 / var(--tw-border-opacity));
}
.focus\:border-blue-600:focus {
    --tw-border-opacity: 1;
    border-color: rgb(37 99 235 / var(--tw-border-opacity));
}
.focus\:outline-none:focus {
    outline: 2px solid transparent;
    outline-offset: 2px;
}